# Ignore Data and Jupyter Notebooks
*.csv
*.pkl
*.parquet
*.feather
*.ipynb

# Personal Workbooks
/notebooks/*
/dist
/build
!/notebooks/.env
!/notebooks/qchem.py

# Tests
!tests/test_files/**
tests/test_files/xyz
*pycache*
.pytest_cache

# VS Code
.vscode/
/qchem.egg-info
output_files/
